body {
  color: #09194f;
  background: radial-gradient(
    600px at 48.3% 49%,
    rgba(253, 239, 132, 0.4) 1.2%,
    rgba(184, 223, 216) 100.2%
  );
  font-family: "Roboto", sans-serif;
}

hr {
  border: 3px solid;
  margin: 12px auto;
}

p,
h2,
h3 {
  margin: 0;
}

h4 {
  font-size: calc(1.2rem + 0.3vw);
}

a {
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 1px #09194f;
  text-decoration: none;
}
a:hover {
  color: #f9ce00;
  cursor: pointer;
  text-decoration: underline;
}

.container {
  max-width: 700px;
  margin: 10px auto;
  padding: 15px;
  background-color: #247291;
  border: 5px solid #f9ce00;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 3px rgb(9, 25, 79);
}

.card {
  background-color: #fdfdeb;
  border: 3px solid #f9ce00;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #09194f;
}

.card-body {
  padding: 10px;
}

.heading {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #09194f, 0 0 1em #fdfdeb;
  text-align: center;
}

.city {
  font-size: 1.7em;
  font-weight: 900;
  text-shadow: 1px 1px 0 #f9ce00, 2px 2px 0 #247291;
}

.temp-unit-selector {
  margin-top: 14px;
  text-align: left;
}

.search-button,
.current-location-button {
  padding: 0.375rem 0.6rem;
  transition: all 200ms ease-in-out;
}

.celsius-button,
.fahrenheit-button {
  font-size: 14px;
  color: #fff;
  background: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 8px;
  min-width: 1.5em;
  transition: all 200ms ease-in-out;
}

.search-button:hover,
.current-location-button:hover,
.celsius-button:hover,
.fahrenheit-button:hover {
  background-color: #09194f;
}

.celsius-button-selected,
.fahrenheit-button-selected {
  background-color: #09194f;
}

.stats-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stats-list-item {
  font-size: 18px;
  font-weight: 500;
  margin-block-start: 13px;
  line-height: 2.7;
  border: 3px solid #f9ce00;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #09194f;
}

.footer {
  font-family: "PT Mono", monospace;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.coder {
  color: #fdfdeb;
  font-weight: 500;
  text-shadow: 1px 1px 1px #09194f;
}

#current-temp {
  font-size: 5em;
  font-weight: bolder;
  line-height: 1;
}

#current-day {
  font-size: 1.5em;
  font-weight: 800;
}
#date-time {
  font-size: 1.2em;
  font-weight: 700;
}
